/* .container {
  /* display: none; */
/* transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out; */
/* background-color: var(--color-primary); */

/* .container {
  min-height: 100vh;
  width: 100%;
  display: flex;

  left: 0;
  top: 0;
  padding: 3rem 18rem;
} */

.port-text {
  padding: 2rem 0;
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.projects .project-item {
  position: relative;
  border-radius: 15px;
}

.project-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}
