.about-container {
  color: black;
  /* height: 100vh; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1px;
  margin: 5rem 5rem;
}

.left {
  flex-basis: 35%;
}

.left img {
  width: 80%;
}

.right {
  flex-basis: 60%;
}
.right ul {
  margin-left: 1rem;
}

.right li {
  padding: -5rem 0;
}

.right p {
  margin-top: 2rem;
}
