.skills-container {
  color: black;
  max-width: 1000px;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 100vh;
  height: 100vh; */
  padding: 40px;
  margin-left: 17%;
  /* align-items: center; */
}

.skills-container img {
  width: 80px;
  margin: auto 0;
}

.skills-container .heading {
  font-size: x-large;
  font-weight: bold;
  display: inline;
}

.skills-container .sub-heading {
  padding: 20px 0;
  font-size: large;
}

.skills-icons {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  padding-bottom: 80px;
  row-gap: 40px;
}
