@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* list-style: none; */
}

body {
  /* font-size: 1.1rem;

  line-height: 1.5;
  overflow-x: hidden; */
  background: white;
  color: black;
  /* overflow: hidden; */
}

.container {
  padding: 10px 5%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

/* section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
} */
/* 
.container {
  display: none;
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: white;
} */

li {
  padding-top: 3.5%;
}
